<!--

    SoftVis3D Sonar plugin
    Copyright (C) 2014 Stefan Rinderle
    stefan@rinderle.info

    SoftVis3D Sonar plugin can not be copied and/or distributed without the express
    permission of Stefan Rinderle.

-->
<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeJS/three.min.js"></script>

<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeJS/OrbitControls.js"></script>

<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeJS/Detector.js"></script>
<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeJS/stats.min.js"></script>

<!--script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script-->
<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/angular/angular.min.js"></script>

<!--
<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/angular/ui-bootstrap-tpls-0.12.0.min.js"></script>

<link rel="stylesheet" type="text/css" href="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/css/main.css">
-->

<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/angular/SoftVis3dAngular.js"></script>
<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/angular/BackendService.js"></script>
<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/angular/CreateObjectsService.js"></script>
<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/angular/DetailsController.js"></script>
<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/angular/Directives.js"></script>
<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/angular/RenderController.js"></script>
<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/angular/SceneObjectsService.js"></script>
<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/angular/TreeService.js"></script>

<%
   # get extension class and start layout
   softVis3D = Api::Utils.java_facade.
           getComponentByClassname('softVis3D', 'de.rinderle.softvis3d.SoftVis3DExtension')
%>

<div ng-app="softVis3dAngular" resize>

    <div id="metricForm" style="height: 30px;">
        <%
           metricIds = softVis3D.getMetricsForSnapshot(@snapshot.id)

           # get all defined metric for project files
           metrics=[]
           metricIds.each do |index|
             m = metric(index)
             metrics << m if m
           end

           # set default metric ids if no metrics selected
           if (params[:metric1].blank?)
             puts("no param 1 - default param")
             params[:metric1] = softVis3D.getMetric1FromSettings().to_s
           end
           if (params[:metric2].blank?)
             puts("no param 2 - default param")
             params[:metric2] = softVis3D.getMetric2FromSettings().to_s
           end
        %>
        <% form_tag({:action => @resource.id.to_s}, {:id => 'softVis3DForm', :method => 'get'}) do %>
            <input type="hidden" name="page" value="SoftVis3D">

            Building footprint metric:
            <select name="metric1">
                <%
                   # show all graph (as layers)
                   metrics.each do |metric|
                     if (metric.id.to_s==params[:metric1].to_s)
                %>
                        <option value="<%= metric.id %>" selected><%= metric.short_name %></option>
                    <% else %>
                        <option value="<%= metric.id %>"><%= metric.short_name %></option>
                    <% end %>
                <%
                   end
                %>
            </select>

            Building height metric:

            <select name="metric2">
                <%
                   # show all graph (as layers)
                   metrics.each do |metric|
                     if (metric.id.to_s==params[:metric2].to_s)
                %>
                        <option value="<%= metric.id %>" selected><%= metric.short_name %></option>
                    <% else %>
                        <option value="<%= metric.id %>"><%= metric.short_name %></option>
                    <% end %>
                <%
                   end
                %>
            </select>

            View type:
            <select name="viewType">
                <%
                   if ("city"==params[:viewType].to_s)
                %>
                    <option value="city" selected>City</option>
                <% else %>
                    <option value="city">City</option>
                <% end %>
                <%
                   if ("dependency"==params[:viewType].to_s)
                %>
                    <option value="dependency" selected>Dependency</option>
                <% else %>
                    <option value="dependency">Dependency</option>
                <% end %>
            </select>

            <input type="submit" value="Submit">
        <% end %>
    </div>

    <div ng-controller="DetailsController" id="detailsContainer" ng-show="node"
         style="border: 1px solid black; position: absolute;
                 top: 40px; right: 10px; width: 200px; height: 300px;
                 overflow: auto;">

        <!--button type='button' ng-click='showAllSceneElements();'>Show all nodes (reset)</button-->

        <h2 style="color: #FFBF00">{{node.name}}
            <span ng-show="!node.isNode">({{node.footprintMetricValue}} / {{node.heightMetricValue}})</span>
        </h2>
        <!--div ng-show="node.isNode">
            <button ng-show="node.isHidden" type='button' ng-click='triggerVisible();'>Show</button>
            <button ng-show="!node.isHidden" type='button' ng-click='triggerVisible();'>Hide</button>
        </div-->

        <div ng-show="node.parentInfo">
            <br />
            <h2>Parent</h2>
            <p>
                <a href='#' ng-click="selectNodeFromDetails(node.parentInfo);">
                    {{node.parentInfo.name}}
                </a>
            </p>
        </div>

        <div ng-if="node.children.length > 0">
            <br />
            <h2>Children ({{node.children.length}})</h2>
            <ul style="list-style: none;">
                <li ng-repeat="child in node.children">
                    <span ng-show="!child.isNode">(F)</span>
                    <span ng-show="child.isNode">(N)</span>
                    <a href='#' ng-click="selectNodeFromDetails(child);">
                        {{child.name}}
                        <span ng-show="!child.isNode">({{child.footprintMetricValue}} / {{child.heightMetricValue}})</span>
                    </a>
                </li>
            </ul>
        </div>

        <div ng-if="node.edges.length > 0">
            <br />
            <h2>Dependencies ({{node.edges.length}})</h2>
            <ul style="list-style: none;">
                <li ng-repeat="edge in node.edges">
                     {{edge.id}} ({{edge.includingDependencies.length}})
                    <ul style="list-style: circle;">
                        <li ng-repeat="dependency in edge.includingDependencies">
                            {{getDependencyForId(dependency.id)}}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div ng-controller="RenderController" id="renderContainerController">
        <div ng-show="isVisualisationActive" id="renderContainer"
             ng-mousedown="mousedown($event)" ng-mouseup="mouseup($event)" ng-mousemove="mousemove($event)"
             style="border: 1px solid black;">
        </div>
        <div ng-show="!isVisualisationActive && !isLoading" style="padding: 30px; height: 300px;">
            <h3>Please select the metrics and a view type and submit the form above.</h3>
        </div>
        <div ng-show="!isVisualisationActive && isLoading" style="padding: 30px; height: 300px;">
            <h3>LOADING - please wait..</h3>
        </div>
    </div>
</div>

<script type="text/javascript">

window.onload = function () {
    <%
    if !@snapshot.id.blank? && !params[:viewType].blank? &&
        !params[:metric1].blank? && !params[:metric2].blank?
    %>
        // Direct link to visualization. Load and display.
        angular.element(document.getElementById('renderContainerController')).scope().loadVisualization(
                <%= @snapshot.id %>, <%= params[:metric1] %>, <%= params[:metric2] %>, "<%= params[:viewType] %>"
        );
    <%
    else
    %>
        // no direct link to visualization. Do nothing,
    <%
    end
    %>
}
</script>

