<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softviz3d/threeJS/three.min.js"></script>

<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softviz3d/threeJS/OrbitControls.js"></script>

<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softviz3d/threeJS/Detector.js"></script>
<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softviz3d/threeJS/stats.min.js"></script>

<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softviz3d/js/ThreeScene.js"></script>

<div id="metricForm" style="height: 30px;">
  <%
     # get extension class and start layout
     softviz3d = Api::Utils.java_facade.
             getComponentByClassname('softviz3d', 'de.rinderle.softviz3d.SoftViz3dExtension')

     metricIds = softviz3d.getMetricsForSnapshot(@snapshot.id)
    
    # get all defined metric for project files
     metrics=[]
     metricIds.each do |index|
       m = metric(index)
       metrics << m if m
     end

    # set default metric ids if no metrics selected
    if (params[:metric1].blank?) 
       puts("no param 1 - default param")
       params[:metric1] = softviz3d.getMetric1FromSettings().to_s
    end
    if (params[:metric2].blank?) 
       puts("no param 2 - default param")
       params[:metric2] = softviz3d.getMetric2FromSettings().to_s
    end
    if (params[:viewType].blank?)
      puts("no viewType - default param")
      params[:viewType] = "city";
    end
  %>
  <% form_tag({:action => @resource.id.to_s}, {:id => 'softviz3dForm', :method => 'get'}) do %>
      <input type="hidden" name="page" value="Softviz3d">
      
      Building footprint metric:
      <select name="metric1">
        <%
           # show all graph (as layers)
           metrics.each do |metric|
             if (metric.id.to_s==params[:metric1].to_s)
        %>
                <option value="<%= metric.id %>" selected><%= metric.short_name %></option>
            <% else %>
                <option value="<%= metric.id %>"><%= metric.short_name %></option>
            <% end %>
        <%
           end
        %>
      </select>

      Building height metric:

      <select name="metric2">
        <%
           # show all graph (as layers)
           metrics.each do |metric|
             if (metric.id.to_s==params[:metric2].to_s)
        %>
                <option value="<%= metric.id %>" selected><%= metric.short_name %></option>
            <% else %>
                <option value="<%= metric.id %>"><%= metric.short_name %></option>
            <% end %>
        <%
           end
        %>
      </select>

        View type:
        <select name="viewType">
            <%
            if ("city"==params[:viewType].to_s)
            %>
                <option value="city" selected>City</option>
            <% else %>
                <option value="city">City</option>
            <% end %>
            <%
               if ("dependency"==params[:viewType].to_s)
            %>
                <option value="dependency" selected>Dependency</option>
            <% else %>
                <option value="dependency">Dependency</option>
            <% end %>
        </select>

      <input type="submit" value="Submit">
  <% end %>
</div>

<div id="renderContainer" style="border: 1px solid black;"></div>

<script type="text/javascript">
    if (!Detector.webgl) {
        Detector.addGetWebGLMessage();
    }

    init(document.getElementById('renderContainer'), true);
    createCenterCube();
    animate();
</script>

<script type="text/javascript">
    initializeWebservice(<%= @snapshot.id %>, <%= params[:metric1] %>, <%= params[:metric2] %>);

    function v( x, y, z ){ return new THREE.Vector3( x, y, z ); }

   <%
   # get extension class and start layout
   softviz3d = Api::Utils.java_facade.
           getComponentByClassname('softviz3d', 'de.rinderle.softviz3d.SoftViz3dExtension')

   resultMap = softviz3d.createLayoutBySnapshotId(@snapshot.id, params[:metric1], params[:metric2], params[:viewType])

   # show all graph (as layers)
   resultMap.each do |key, value|
        # set bb (position and size)
        layerBB = value.getAttributeValue('bb')
       %>
        position = new Array();
        position.x = <%= layerBB.getX() %>;
        position.y = <%= value.getAttributeValue('layerHeight3d') %>;
        position.z = <%= layerBB.getY() %>;

        <% heightString = value.getAttributeValue('buildingHeight').to_s %>

        geometryLayer = new THREE.BoxGeometry(<%= layerBB.getWidth() %>, 5,
                <%= layerBB.getHeight() %>);

        // set material (color)
        layerMaterial = new THREE.MeshLambertMaterial({
            color: <%= value.getAttributeValue('color').getHex %>,
            transparent: true,
            opacity: <%= value.getAttributeValue('opacity') %>
            });

        // <%= value.to_s %>
        createBox(geometryLayer, layerMaterial, position, "<%= key %>");

        <%
        # show all treeNodes
        value.nodeElementsAsArray.each { |val|
            %>
            var nodeMaterial = new THREE.MeshLambertMaterial({
                color: <%= val.getAttributeValue('nodesColor') %>,
                transparent: true,
                opacity: <%= value.getAttributeValue('opacity') %>
            });
            <%
            point = val.getAttributeValue('pos')
            pointArray = point.to_s.split(',')
            heightString = val.getAttributeValue('buildingHeight')
           %>
            var nodeGeometry = new THREE.BoxGeometry(
                    <%= val.getAttributeValue('width').to_s %>, <%= heightString %>,
                    <%= val.getAttributeValue('height').to_s %>);

            var position = new Array();
            position.x = <%= pointArray[0] %>;
            <% zPos = val.getAttributeValue('layerHeight3d').to_f + heightString.to_f / 2 %>
            position.y = <%= zPos.to_s %>;
            position.z = <%= pointArray[1] %>;

            //var textsize = <%= val.getAttributeValue('width').to_f / 8 %>

            //textposition = new Array();
            //textposition.x = position.x;
            //textposition.y = <%= val.getAttributeValue('layerHeight3d').to_f + heightString.to_f + 10 %> +textsize / 2;
            //textposition.z = position.z;

            //threeScene.drawText("<%= val.getAttributeValue('displayName').to_s %>", textposition, textsize)

            // <%= val.to_s %>
            createBox(nodeGeometry, nodeMaterial, position, "<%= val.getAttributeValue('id') %>");
            <%
        }
        %>
        <%
        # show all treeNodes
        value.edgeElementsAsArray.each { |val|
        %>

            // <%= val.to_s %>
              drawCylinder(v(<%= val.getAttributeValue("origin").to_s %>),
                      v(<%= val.getAttributeValue("destination").to_s %>));
        <%
    }
    end
    %>

    function drawCylinder( pointX, pointY) {
        /* edge from X to Y */
        var direction = new THREE.Vector3().subVectors( pointY, pointX );
        var orientation = new THREE.Matrix4();
        /* THREE.Object3D().up (=Y) default orientation for all objects */
        orientation.lookAt(pointX, pointY, new THREE.Object3D().up);
        /* rotation around axis X by -90 degrees
         * matches the default orientation Y
         * with the orientation of looking Z */
        orientation.multiply(new THREE.Matrix4(1,0,0,0,
                0,0,1,0,
                0,-1,0,0,
                0,0,0,1));

        /* cylinder: radiusAtTop, radiusAtBottom,
         height, radiusSegments, heightSegments */
        var radius = 4;
        var edgeGeometry = new THREE.CylinderGeometry( radius, radius, direction.length(), 8, 1);
        var edge = new THREE.Mesh( edgeGeometry,
                new THREE.MeshBasicMaterial( { color: 0xff0000 } ) );

        edge.applyMatrix(orientation);
        direction = direction.multiplyScalar(0.5);

        edge.applyMatrix( new THREE.Matrix4().makeTranslation(
                        pointX.x + direction.x, pointX.y + direction.y, pointX.z + direction.z));

        scene.add(edge);

        // add head
        /* cylinder: radiusAtTop, radiusAtBottom,
         height, radiusSegments, heightSegments */
        var edgeHeadGeometry = new THREE.CylinderGeometry( 1, 10, 10, 8, 1);
        var edgeHead = new THREE.Mesh( edgeHeadGeometry,
                new THREE.MeshBasicMaterial( { color: 0xff0000 } ) );

        edgeHead.applyMatrix(orientation);
        direction = direction.multiplyScalar(0.5);

        edgeHead.applyMatrix( new THREE.Matrix4().makeTranslation(
                        pointY.x, pointY.y, pointY.z));
        scene.add(edgeHead);
    }

   setLight();

</script>

<div id="detailsContainer"
     style="border: 1px solid blue; position: absolute;
             top: 40px; right: 10px; width: 200px; height: 200px;">
</div>