<!--

    SoftVis3D Sonar plugin
    Copyright (C) 2014 Stefan Rinderle
    stefan@rinderle.info

    SoftVis3D Sonar plugin can not be copied and/or distributed without the express
    permission of Stefan Rinderle.

-->
<link rel="stylesheet" type="text/css" href="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/css/main.css">
<link rel="stylesheet" type="text/css" href="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/css/demo.css">

<!-- Three Viewer -->
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/lib/base.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/lib/deps.js"></script>

<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/config.js"></script>
<script>
    var Viewer = {};

    var ThreeViewer = {};
</script>

<!--<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/lib/jquery-2.1.1.js"></script>-->
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/lib/three.69.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/lib/OrbitControls.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/lib/hammer.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/lib/jquery.hammer.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/lib/angular.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/lib/angular-route.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/lib/ngHammer.js"></script>


<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/ng/app-config.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/ng/app-controller.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/ng/toolbar-controller.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/ng/file-loader-controller.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/ng/directives.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/ng/filters.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/ng/viewer-service.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/ng/tree-service.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/ng/backend-service.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/ng/message-bus.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/app.js"></script>


<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/three/scene.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/three/setup.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/three/util.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/three/camera.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/three/wrangler.js"></script>

<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/three/softvis/ObjectBuilder.js"></script>

<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/lib/three/DDSLoader.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/lib/three/MTLLoader.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/lib/three/OBJMTLLoader.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/lib/three/OBJLoader.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/lib/three/glTF-parser.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/lib/three/glTFLoader.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/lib/three/glTFLoaderUtils.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeViewer/lib/three/glTFAnimation.js"></script>


<%
   # get extension class and start layout
   softVis3D = Api::Utils.java_facade.
           getComponentByClassname('softVis3D', 'de.rinderle.softvis3d.SoftVis3DExtension')
%>

<!-- ANGULAR JS FILES -->
<!--<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/angular/angular.min.js"></script>-->

<!--<% if (softVis3D.isProd()) %>-->
    <!--<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/js/softvis3d.min.js"></script>-->
<!--<% else %>-->
    <!--<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/js/SoftVis3dAngular.js"></script>-->
    <!--<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/js/BackendService.js"></script>-->
    <!--<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/js/CreateObjectsService.js"></script>-->
    <!--<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/js/DetailsController.js"></script>-->
    <!--<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/js/Directives.js"></script>-->
    <!--<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/js/RenderController.js"></script>-->
    <!--<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/js/SceneObjectsService.js"></script>-->
    <!--<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/js/TreeService.js"></script>-->
<!--<% end %>-->

<!-- THREE JS FILES -->
<% if (softVis3D.isProd()) %>
    <!--<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeJS/threeJsAll.min.js"></script>-->
<% else %>
    <!--<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeJS/three.js"></script>-->
    <script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeJS/NURBSCurve.js"></script>
    <script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeJS/NURBSUtils.js"></script>

    <!--<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeJS/OrbitControls.js"></script>-->

    <!--<script type="text/javascript" src="<%= "#{ApplicationController.root_context}" -%>/static/softVis3D/threeJS/Detector.js"></script>-->
<% end %>



<div ng-app="ThreeViewerApp">
    <div ng-view></div>
</div>

<script type="text/javascript">
window.onload = function () {
//    Direct link to visualization. Load and display.
//    angular.element(document.getElementById('file-loader')).scope().setSnapshotId(<%= @snapshot.id %>);
    ThreeViewer.SNAPSHOT_ID = <%= @snapshot.id %>;
}
</script>

