<link rel="stylesheet" type="text/css" href="<%= "#{ApplicationController.root_context}" -%>/static/softvis3d/css/main.css">

<script>
  var ThreeViewer = {};
  ThreeViewer.PROJECT_KEY = "<%= @resource.key %>";

  var RESOURCES_BASE_PATH = "<%= "#{ApplicationController.root_context}" -%>";
</script>

<%
   # get extension class and start layout
   softVis3D = Api::Utils.java_facade.getComponentByClassname('softvis3d', 'de.rinderle.softvis3d.SoftVis3DExtension');
%>

<script src="<%= "#{ApplicationController.root_context}" -%>/static/softvis3d/threeViewer/vendor.js"></script>
<script src="<%= "#{ApplicationController.root_context}" -%>/static/softvis3d/threeViewer/bundle.js"></script>

<div ng-app="ThreeViewerApp">
  <div ng-view></div>
</div>
